/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "home row left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
        };

        hrr: hrr {
            compatible = "zmk,behavior-hold-tap";
            label = "home row right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <2 0 1 2 3 4 12 13 14 15 16 17 27 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q              &kp W                &kp E            &kp R            &kp T        &kp Y    &kp U             &kp I             &kp O                 &kp P                  &kp BSPC
&trans            &hrl LEFT_SHIFT A  &hrl LEFT_CONTROL S  &hrl LEFT_ALT D  &hrl LEFT_WIN F  &kp G        &kp H    &hrr RIGHT_GUI J  &hrr RIGHT_ALT K  &hrr RIGHT_CONTROL L  &hrr RIGHT_SHIFT SEMI  &kp DEL
&kp LEFT_CONTROL  &kp Z              &kp X                &kp C            &kp V            &kp B        &kp N    &kp M             &kp COMMA         &kp DOT               &kp FSLH               &kp ESC
                                                          &mo 2            &mo 3            &kp SPACE    &kp RET  &mo 1             &to 4
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT | Ü |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL     &kp DOUBLE_QUOTES  &kp HASH  &kp DLLR  &kp PRCNT    &kp AMPERSAND  &kp SLASH  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans    &kp BSPC
&trans  &kp AT_SIGN  &trans             &trans    &trans    &trans       &kp MINUS      &kp EQUAL  &kp LBKT              &kp RBKT               &kp BSLH  &kp GRAVE
&trans  &trans       &trans             &trans    &trans    &trans       &kp UNDER      &kp PLUS   &kp LBRC              &kp RBRC               &kp PIPE  &kp TILDE
                                        &trans    &trans    &kp SPACE    &kp RET        &trans     &kp RALT
            >;
        };

        Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp HOME  &kp UP    &kp END    &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_UP    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans     &kp PAGE_DOWN  &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        numpad+bt {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&ext_power EP_TOG  &trans        &trans        &trans        &trans        &trans          &trans   &kp N7  &kp N8     &kp N9  &trans    &kp BSPC
&bt BT_CLR         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &kp N4  &kp N5     &kp N6  &kp FSLH  &kp STAR
&trans             &trans        &trans        &trans        &trans        &trans          &trans   &kp N1  &kp N2     &kp N3  &kp PLUS  &kp MINUS
                                               &trans        &trans        &kp SPACE       &kp RET  &kp N0  &kp COMMA
            >;
        };

        FPS {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp W   &kp NUMBER_3  &kp NUMBER_4    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp Q         &kp A         &kp S   &kp D         &kp R           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &kp X   &kp C         &kp G           &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans  &kp E         &trans          &trans  &trans  &to 0
            >;
        };
    };
};
